body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	min-width: 320px;
}
@keyframes example {
    from {padding: 4px;}
    to {padding: 7px}
}
.button {
	height: 58px;
	display: inline-block;
	padding: 4px;
	@include transition(1s);
	& &-border {
		border: $border;
		padding: 3px;
		@include transition(1s);
	}
	&:hover &-border {
		padding: 7px;
	}
	& &-inner {
		width: 100%;
		height: 42px;
		line-height: 42px;
		padding: 0 25px;
		background: $golden;
		border: none;
		color: #211a15;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		font-family: 'Roboto Slab', serif;
		display: block;
		text-decoration: none;
		position: relative;
		span {
			z-index: 1;
			position: relative;
		}
		&:before {
		    content: '';
		    display: block;
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    z-index: 1;
		    width: 100%;
		    height: 100%;
		    background: #FFB509;
		    visibility: hidden;
		    -webkit-transition: -webkit-transform 1s, visibility 1s, background 1s;
		    -moz-transition: -moz-transform 1s, visibility 1s, background 1s;
		    -ms-transition: -ms-transform 1s, visibility 1s, background 1s;
		    -o-transition: -o-transform 1s, visibility 1s, background 1s;
		    transition: transform 1s, visibility 1s, background 1s;
		    -webkit-transform: scaleY(0);
		    -moz-transform: scaleY(0);
		    -ms-transform: scaleY(0);
		    -o-transform: scaleY(0);
		    transform: scaleY(0);
		}
		&:hover:before {
		    visibility: visible;
		    -webkit-transform: scaleY(1);
		    -moz-transform: scaleY(1);
		    -ms-transform: scaleY(1);
		    -o-transform: scaleY(1);
		    transform: scaleY(1);
		}
	}
	&:hover {
		padding: 0;
	}
}
.main-h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	color: $main-h1;
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
}
.main-h2 {
	color: $main-h1;
	font-size: 14px;
	line-height: 23px;
	&-margin {
		margin-top: 28px;
		margin-bottom: 23px;
	}
}
.main-subtitle {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #c69118;
	text-decoration: none;
	margin-bottom: 25px;
	display: inline-block;
	position: relative;
	&:hover {
		color: #c69118;
		text-decoration: none;
	}
	&:hover:before {
		   visibility: visible;
		   -webkit-transform: scaleX(1);
		   -moz-transform: scaleX(1);
		   -ms-transform: scaleX(1);
		   -o-transform: scaleX(1);
		   transform: scaleX(1);
	}
	&:before {
		   content: '';
		   display: block;
		   position: absolute;
		   bottom: 0;
		   left: 0px;
		   z-index: 1;
		   width: 100%;
		   height: 2px;
		   background: #c69118;
		   visibility: hidden;
		   -webkit-transition: -webkit-transform .2s, visibility .2s;
		   -moz-transition: -moz-transform .2s, visibility .2s;
		   -ms-transition: -ms-transform .2s, visibility .2s;
		   -o-transition: -o-transform .2s, visibility .2s;
		   transition: transform .2s, visibility .2s;
		   -webkit-transform: scaleX(0);
		   -moz-transform: scaleX(0);
		   -ms-transform: scaleX(0);
		   -o-transform: scaleX(0);
		   transform: scaleX(0);
	}
}
.divider {
	width: 100%;
	height: 5px;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	&-one {
		width: 100%;
		border-bottom: 1px solid #d3d3d3;
	}
}
.golden-border {
	border: $border;
}
.breadcrumb {
	background: none;
	padding-top: 2px;
	li {
		font-size: 13px;
		a {
			color: #a1a1a1;
		}
		&.active {
			color: #5a5a5a;
		}
	}
}
.no-float {
	float: none;
}
.submenu {
	border-bottom: 1px solid #d3d3d3;
	.navbar {
		margin-bottom: -2px;
		min-height: 45px;
		&-header {
			border-bottom: 1px solid #e3e3e3;
		}
		&-nav {
			text-align: center;
			& > li > a {
				padding-top: 11px;
				padding-bottom: 11px;
			}
		}
		&-nav > li {
			float: none;
			display: inline-block;
			border-bottom: 1px solid transparent;
			a {
				color: #4a4847;
				background-color: transparent !important;
				font-size: 13px;
			}
			&.active {
				border-bottom: $border;
				a {
					color: $golden;
					background-color: transparent !important;
					font-size: 13px;
				}
			}
			&:hover {
				border-bottom: 1px solid darken(#4a4847, 20%);
				a {
					color: darken(#4a4847, 20%);
					background-color: transparent !important;
					font-size: 13px;
				}
			}
			&.active:hover {
				border-bottom: 1px solid darken($golden, 10%);
				a {
					color: darken($golden, 10%);
					background-color: transparent !important;
					font-size: 13px;
				}
			}
		}
	}	
}
.container-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}
.special {
	display: block;
	&-img {
		float: left;
		margin: 0 35px 35px 0;
		width: 570px;
		max-width: 100%;
	}
	&-h2 {
		text-transform: uppercase;
		font-size: 14px;
		font-family: 'Roboto Slab', serif;
		color: #211a15;
		margin: 2px 0 21px 0;
		min-height: 15px;
	}
	p {
		font-size: 13px;
		line-height: 23px;
		color: #666666;
		margin-bottom: 23px;
	}
	&-margin {
		margin-top: 30px;
	}
	&-date {
		position: absolute;
		top: 2px;
		right: 0;
		color: #c6b79e;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
	}
}
.way-dance-h1 {
	font-size: 25px;
}
.after-nav-h1 {
	margin-top: 2px;
}
.teacher-carousel {
	margin-bottom: 45px;
	@include clearfix;
	&-item {
		width: 290px;
		height: 273px;
		position: relative;
		background: url("../img/teachers/1-small.jpg");
		@include background-size(cover);
	}
	.owl-nav {
		position: relative;
		.owl-prev {
			position: absolute;
			top: -150px;
			left: -21px;
		}
		.owl-next {
			position: absolute;
			top: -150px;
			right: -21px;
		}
	}
}
.dance-gallery {
	padding: 25px 0 35px 0;
	h3 {
		font-size: 20px;
		text-transform: uppercase;
		font-family: 'Roboto Slab', serif;
		color: #060301;
		text-align: center;
		margin: 0 0 21px 0;
	}
	& > span {
		color: #9e9e9e;
		font-size: 13px;
		text-transform: uppercase;
		padding-left: 40px;
		margin-bottom: 15px;
		display: block;
	}
	img {
		width: 296px;
		height: 185px;
		float: left;
		margin: 2.5px;
		cursor: pointer;
		opacity: .8;
		@include transition(.3s);
		&.active {
			opacity: 1;
		}
		&:nth-child(4n+1) {
			margin-left: 0px;
		}
		&:nth-child(4n+4) {
			margin-right: 0px;
		}
	}
	a:hover img {
		opacity: 1;
	}
	.gallery-slider-inner img {
		width: auto !important;
		height: auto !important;
	}
	.video-area {
		width: 392px;
		float: left;
		margin: 4px;
		img {
			width: 100%;
			display: block;
			float: none;
			opacity: 1;
		}
		p {
			font-size: 13px;
			color: #211a15;
			text-transform: uppercase;
			text-align: center;
			display: block;
			margin-top: 13px;
		}
	}
}
.full-width {
	width: 100%;
	@include clearfix;
	border: 1px solid #f2f2f2;
	
}
.half-width {
	width: 50%;
	float: left;
	& > img {
		width: 100%;
		max-width: 100%;
	}
}
.star-card {
	display: block;
	h3 {
		font-size: 12px;
		color: #9e9e9e;
		text-transform: uppercase;
		padding-left: 30px;
		padding-right: 30px;
	}
	p {
		font-size: 13px;
		color: #666666;
		padding-left: 30px;
		padding-right: 30px;
	}
}
.half-border {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.half-button {
	border: 1px solid $golden;
	a {
		line-height: 71px;
		text-align: center;
		font-size: 13px;
		font-weight: 700;
		color: #211a15;
		text-transform: uppercase;
		display: block;
		background-size: cover !important;
		@include transition(1s);
		background: url("../img/bg/bg_w.jpg") no-repeat;
		&:hover {
			text-decoration: none;
			background: url("../img/bg/but.jpg") no-repeat;
		}
	}
}
.wo-bt {
	border-top: 0px;
}
.single-divider {
	width: 100%;
	height: 0;
	border-bottom: 1px solid #1a1107;
	@include clearfix;
}
.half-title {
	color: #211a15;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.half-title-advantage {
	font-size: 13px;
	color: #342f2b;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.teachers-text-top {
	text-align: center;
	font-size: 13px;
	color: #666666;
	margin-bottom: 32px;
}
.teachers-col {
	display: block;
	.our-teachers {
		width: 24.5%;
		margin: 3px .25%;
		background-position: center;
	}
}
.way-item {
	width: 50%;
	display: block;
	float: left;
	position: relative;
	min-height: 365px;
	text-decoration: none;
	@include transition(.3s);
	@include background-size(cover);
	overflow: hidden;
	p {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-transform: uppercase;
		text-align: center;
		font-family: 'Roboto Slab', serif;
		font-size: 18px;
		color: #ffffff;
		margin: 0 0 17px 0;

	}
	.mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		@include transition(.3s);
	}
	&:hover .mask {
		background: rgba(0,0,0, .5);
	}
	img {
		@include transition(.5s);	
	}
	&:hover img {
		@include scale(1.05);
	}
}
.way-container {
	margin-bottom: 30px;
}
.knowledge {
	display: block;
	margin-bottom: 20px;
	border: 1px solid #d5d5d5;
	&-item {
		width: 20%;
		float: left;
		border-right: 1px solid #d5d5d5;
		&:last-child {
			border-right: 0px solid transparent;
		}
	}
	&-title {
		font-size: 18px;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 1px solid #d5d5d5;
		padding: 17px 0;
	}
	&-text {
		padding: 25px;
		font-size: 13px;
		color: #8c8c8c;
		line-height: 20px;
	}
	.color {
		color: #000000;
		&-1 {
			color: #9d3e3e;
		}
		&-2 {
			color: #70593e;
		}
		&-3 {
			color: #c68639;
		}
		&-4 {
			color: #909090;
		}
		&-5 {
			color: #d0b710;
		}
	}
}
.star-lesson {
	display: block;
	.our-teachers {
	    width: 24.5%;
	    margin-left: .25%;
	    margin-right: .25%;
	    height: 454px;
	    float: left;
	    position: relative;
	}
}
.map-container {
	position: relative;
	.contact-info {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		width: 1px;
		max-height: 470px;
		&-inner {
			width: 470px;
			border: 1px solid #33302d;
			padding: 3px;
			&-area {
				background: #060301;
				padding: 23px;
			}
		}
		h3 {
			font-size: 13px;
			font-family: 'Roboto Slab', serif;
			text-transform: uppercase;
			text-align: center;
			color: $golden;
		}
		img {
			display: block;
			margin: 0 auto 27px;
		}
		p {
			_font-weight: 300;
			color: #ffffff;
			font-size: 13px;
			line-height: 22px;
			text-align: center;
			margin-bottom: 25px;
		}
	}
}
.small-map {
	position: relative !important;
	width: 100% !important;
	max-width: 470px !important;
	margin-bottom: 20px !important;
	max-height: none !important;
}
.small-map .contact-info-inner-area, .small-map .contact-info-inner {
	width: 100% !important;
	max-width: 470px !important;
}
.events-page {
	display: block;
	&-container {
		margin-bottom: 42px;
	}
	&-h2 {
		text-transform: uppercase;
		color: #060301;
		font-size: 18px;
		font-family: 'Roboto Slab', serif;
		text-align: center;
		margin: 30px 0;
	}
	&-item {
		width: 33.33333333333333334%;
		float: left;
		padding: 3px;
		display: block;
		&-area {
			height: 373px;
			position: relative;
			@include background-size(cover);
			background-position: top center !important;
		}
		&-inner {
			width: 100%;
			height: 434px;
			position: relative;
			overflow: hidden;
			&-top {
				position: absolute;
				left: 0;
				bottom: 0px;
				width: 100%;
				height: 55px;
				background: rgba(0,0,0, .8);
				overflow: hidden;
				color: #ffffff;
				@include transition(.5s);
				h2 {
					font-size: 18px;
					font-family: 'Roboto Slab', serif;
					text-transform: uppercase;
					text-align: center;
					margin-bottom: 20px;
					@include transition(.5s);
					.events-page-item:hover & {
						color: $golden;
					}
				}
				p {
					line-height: 23px;
					font-size: 13px;
					padding: 10px 18px;
					text-align: center;
				}
				.events-page-item:hover & {
					height: 373px;
				}
			}
			&-bottom {
				position: absolute;
				left: 0;
				bottom:0;
				width: 100%;
				height: 61px;
				background: url("../img/bg/footer.jpg");
				h3 {
					font-size: 13px;
					font-family: 'Roboto Slab', serif;
					text-transform: uppercase;
					text-align: center;
					color: $golden;
				}
			}
		}
	}
}
.partners-container {
	margin-bottom: 32px;
	&-item {
		width: 50%;
		padding: 3px;
		float: left;
		&-inner {
			width: 100%;
			height: 180px;
			border: 1px solid #d5d5d5;
			&-left {
				width: 38%;
				float: left;
				border-right: 1px solid #d5d5d5;
				&-inner {
					width: inherit;
					height: 178px;
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					margin: auto;
					padding: 0 10px;
					img {
						max-width: 100%;
					}
				}
			}
			&-right {
				width: 62%;
				text-align: center;
				float: right;
				h3 {
					font-family: 'Roboto Slab', serif;
					font-size: 14px;
					text-transform: uppercase;
					text-align: center;
					color: #211a15;
					margin-top: 48px;
					margin-bottom: 25px;
				}
			}
		}
	}
	.button .button-inner {
		background: #ffffff;
		@include transition(.3s);
		&:hover {
			background: $golden;
		}
	}
}
.news-preview {
	height: 172px;
	border: 1px solid #d5d5d5;
	margin-top: 21px;
	position: relative;
	&-container {
		margin-bottom: 32px;
	}
	img {
		float: left;
		margin-right: 25px;
		opacity: .8;
		@include transition(.3s);
	}
	h3 {
		font-size: 16px;
		text-transform: uppercase;
		color: #060301;
		font-family: 'Roboto Slab', serif;
		margin-top: 24px;
		max-width: 515px;
		max-height: 17px;
		overflow: hidden;
	}
	p {
		line-height: 23px;
		color: #666666;
		font-size: 13px;
		padding-right: 20px;
		max-height: 69px;
		overflow: hidden;
		margin-top: 15px;
		margin-bottom: 0;
	}
	a {
		display: block;
		float: left;
		text-decoration: none;
		color: #91846f;
		font-size: 13px;
		text-transform: uppercase;
		position: relative;
		&:hover {
			color: #3b3937;
			text-decoration: none;
		}
		&:hover:before {
		   visibility: visible;
		   -webkit-transform: scaleX(1);
		   -moz-transform: scaleX(1);
		   -ms-transform: scaleX(1);
		   -o-transform: scaleX(1);
		   transform: scaleX(1);
		}
		&:before {
			   content: '';
			   display: block;
			   position: absolute;
			   bottom: 0;
			   left: 0px;
			   z-index: 1;
			   width: 100%;
			   height: 1px;
			   background: #3b3937;
			   visibility: hidden;
			   -webkit-transition: -webkit-transform .2s, visibility .2s;
			   -moz-transition: -moz-transform .2s, visibility .2s;
			   -ms-transition: -ms-transform .2s, visibility .2s;
			   -o-transition: -o-transform .2s, visibility .2s;
			   transition: transform .2s, visibility .2s;
			   -webkit-transform: scaleX(0);
			   -moz-transform: scaleX(0);
			   -ms-transform: scaleX(0);
			   -o-transform: scaleX(0);
			   transform: scaleX(0);
		}
	}
	span {
		position: absolute;
		top: 26px;
		right: 20px;
		text-transform: uppercase;
		color: #c6b79e;
	}
	&:hover img {
		opacity: 1;
	}
}
.calendar {
	width: 100%;
	margin: 10px 0 32px;
	border: 1px solid #d5d5d5;
	&-row {
		border-bottom: 1px solid #d5d5d5;
		&:last-child {
			border-bottom: 0px solid #d5d5d5;
		}
		&-col {
			width: 150px;
			height: 116px;
			float: left;
			position: relative;
			border-right: 1px solid #d5d5d5;
			&:last-child {
				border-right: 0px solid #d5d5d5;
			}
			.plus-half {
				position: absolute;
				top: 0;
				width: 100%;
				height: 180px;
				background: #ffffff;
				& .calendar-row-col-inner {
					display: block;
					width: inherit;
					height: inherit;
					padding-top: 72px;
				}
			}
			&-inner {
				width: inherit;
				height: inherit;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				border-bottom: 3px solid transparent;
				font-size: 13px;
				color: #1f1e1d;
				line-height: 22px;
				font-weight: 700;
				&-half {
					width: inherit !important;
					height: 58px;
					@include clearfix;
					&-area {
						width: inherit;
					}
				}
				span {
					font-weight: 400;
				}
				
				&.stretching {
					border-bottom: 3px solid #ecc53c;
				}
				&.strip-dance {
					border-bottom: 3px solid #ec3c3c;
				}
				&.arg-tango {
					border-bottom: 3px solid #6f1482;
				}
				&.american-smooth {
					border-bottom: 3px solid #8a1313;
				}
				&.latin-b {
					border-bottom: 3px solid #4895c2;
				}
				&.ballet {
					border-bottom: 3px solid #f6af63;
				}
				&.latin-d {
					border-bottom: 3px solid #79d7a5;
				}
				&.break-dance {
					border-bottom: 3px solid #0e4596;
				}
				&.kids-class {
					border-bottom: 3px solid #deb983;
				}
				&.baby-class {
					border-bottom: 3px solid #ecc53c;
				}
				&.kids-class-1 {
					border-bottom: 3px solid #ec553c;
				}
				&.choreography {
					border-bottom: 3px solid #88177f;
				}
				&.theatre {
					border-bottom: 3px solid #b0d9f1;
				}
				&.ballet-class {
					border-bottom: 3px solid #f1cf9e;
				}
				&.hip-hop {
					border-bottom: 3px solid #3165b2;
				}
				&.solo-latin {
					border-bottom: 3px solid #a4df81;
				}
				&.caribbean {
					border-bottom: 3px solid #40bd52;
				}
				&.smooth {
					border-bottom: 3px solid #8a1313;
				}
				&.strip {
					border-bottom: 3px solid #ec3c3c;
				}	
			}
			&:first-child {
				width: 148px;
				background: #f4f4f4;
				& .calendar-row-col-inner {
					font-weight: 400 !important;
					color: #626262 !important;
					font-size: 13px;
				}
			}
		}
		&-header {
			display: block;
			& .calendar-row-col-inner {
				font-weight: 400 !important;
				color: #626262 !important;
				font-size: 13px;
			}
			.calendar-row-col {
				height: 42px;
				background: #f4f4f4;
				text-align: center;
				&:first-child {
					background: #ffffff;
				}
			}
		}
	}
	&-sm {
		display: none;
		ul {
			list-style: none;
			padding: 0 0 40px 0;
			margin: 0;
		}
	}
	&-day {
		display: block;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border: 1px solid #ec3c3c;
		font-weight: 700;
	}
	&-area {
		min-height: 40px;
		line-height: 20px;
		padding: 5px 0;
		border: 1px solid #e3e3e3;
		&-time {
			width: 20%;
			float: left;
			min-height: 40px;
			line-height: 20px;
			padding: 10px 0;
			text-align: center;
			border-right: 1px solid #e3e3e3;
		}
		&-lesson {
			width: 80%;
			float: left;
			min-height: 40px;
			line-height: 20px;
			padding: 10px;
			text-align: center;
			font-weight: 700;
			span {
				font-weight: 400;
			}
		}
	}
}
.more-fn {
	display: inline;
}
.tip {
	font-size: 14px;
	font-weight: 300;
	color: #5a5a5a;
	line-height: 22px;
	text-align: center;
	margin-bottom: 23px;
}
.cal-marg {
	margin-bottom: 30px;
}
.calendar-button {
	.button-inner {
		background: #ffffff;
		@include transition(.5s);
		&:hover {
			background: $golden;
		}
	}
}
.gallery-slider {
	margin-bottom: 3px;
	&-inner {
		height: 525px;
		position: relative;
		@include transition(.3s);
		@include background-size(cover);
		background-position: center !important;
		.prev-cg {
			position: absolute;
			top: 50%;
			left: 7px;
		}
		.next-cg {
			position: absolute;
			top: 50%;
			right: 7px;
		}
	}
}
.font-14 {
	font-size: 14px !important;
}
.our-teachers {
	margin-bottom: 6px;
	&:hover {
		.mask {
			opacity: 0;
		}
		.teach-info h3 {
			color: $golden;
		}
	}
}
.pagination {
	width: 100%;
	text-align: center;
	margin: 0;
	li {
		display: inline-block;
		color: #919191;
		margin-left: -3px;
		&.active a {
			background-color: $golden;
			border-color: $golden;
		}
		a {
			color: #919191;
			line-height: 36px;
			width: 37px;
			&:hover {
				background-color: $golden !important;
				border-color: $golden !important;
				color: #ffffff;
			}
		}
		&:hover a {
			background-color: $golden !important;
			border-color: $golden !important;
			color: #ffffff;
		}
		span {
			line-height: 36px;
			width: 37px;
		}
		&:first-child {
			margin-right: 17px;
		}
		&:last-child {
			margin-left: 17px;
		}
	}
}
.call-to-less, .call-to-card {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	background: rgba(0,0,0, .5);
	display: none;
	.call-us-popup-2 {
		max-width: 320px;
		height: 219px;
		background: #ffffff;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		padding: 29px 25px 0;
	}
	.call-us-popup-3 {
		max-width: 320px;
		height: 280px;
		background: #ffffff;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		padding: 29px 25px 0;
	}
	input {
		width: 100%;
		height: 50px;
		padding: 0 15px;
	}
	.call-us-popup-inner-2 {
		position: relative;
		& > img {
			cursor: pointer;
			position: absolute;
			top: -22px;
			right: -20px;
		}
	}
	.call-us-popup-inner-3 {
		position: relative;
		& > img {
			cursor: pointer;
			position: absolute;
			top: -22px;
			right: -20px;
		}
	}
}
.card-text {
	text-align: center;
	font-size: 13px;
	color: #3d3d3d;
	line-height: 22px;
	margin-top: 25px;
}
.filter {
	background: #f4f4f4;
	padding: 20px;
	margin-bottom: 20px;
	&-title {
		font-size: 14px;
		color: #353535;
		text-transform: uppercase;
		text-align: center;
		font-family: 'Roboto Slab', serif;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 20px;
	}
	select {
		width: 330px;
		height: 52px;
		border: 1px solid #dfdfdf;
		color: #777777;
    	-moz-appearance: none;
    	-webkit-appearance: none;
    	appearance: none;
    	padding: 0 17px;
    	background: url("../img/select.png") no-repeat 300px 25px #ffffff;
    	cursor: pointer;
    	&:focus {
    		border: $border;
    	}
	}
	#date-card {
		float: left;
	}
	#type-card {
		float: right;
	}
	&-input {
		width: 498px;
		float: left;
		text-align: center;
		input {
			width: 208px;
			height: 52px;
			padding: 0 17px;
			display: inline-block;
			border: 1px solid #dfdfdf;
			color: #777777;
			&:focus {
				border: $border;
			}
		}
		
	}
	&-content {
		display: block;
		margin-bottom: 40px;
		&-single {
			border: 1px solid #d5d5d5;
			padding: 3px;
			margin-bottom: 5px;
			@include transition(.3s);
			&.big, &.small, &.not-match, &.not-matchis {
				display: none;
			}
			.img-card {
				float: left;
				width: 270px;
			}
			&-mid {
				float: left;
				width: 100%;
				max-width: 670px;
				border-right: 1px solid #d5d5d5;
    			margin-right: -1px;
				.card-title {
					font-size: 14px;
					color: #c69118;
					text-transform: uppercase;
					font-family: "Roboto Slab", serif;
					font-weight: 600;
					margin-top: 15px;
				}
				.card-description {
					line-height: 22px;
					color: #3d3d3d;
					font-weight: 300;
					font-size: 13px;
					margin-top: 18px;
					margin-bottom: 22px;
				}
				.card-bot-text {
					font-size: 13px;
					font-weight: 300;
					color: #c69118;
					line-height: 22px;
				}
			}
			&-right {
				float: left;
				width: 250px;
				height: 172px;
				padding: 10px;
				border-left: 1px solid #d5d5d5;
				text-align: center;
				&-price {
					font-size: 26px;
					color: #c69118;
					font-family: "Roboto Slab", serif;
					font-weight: 600;
					padding-top: 20px;
					margin-bottom: 18px;
					span {
						font-size: 13px;
						text-transform: uppercase;
						margin-left: 5px;
					}
				}
			}
		}
	}
}
.single-propose {
	width: 100%;
	max-width: 680px;
	margin: 15px auto;
	text-align: center;
	p {
		font-size: 13px;
		line-height: 22px;
		color: #3d3d3d;
	}
	h3 {
		font-size: 20px;
		color: #060301;
		font-family: "Roboto Slab", serif;
		text-transform: uppercase;
		margin-bottom: 18px;
	}
	span {
		font-size: 14px;
		text-transform: uppercase;
		color: #c69118;
		font-family: "Roboto Slab", serif;
	}
	div {
		font-size: 13px;
		line-height: 22px;
		color: #c69118;
		text-align: center;
	}
}
.button.pop, .button.pop-2 {
	padding: 4px !important;
	.button-border {
		padding: 3px !important;
		.button-inner {
			@include transition(.5s);
			&:hover {
				background: #ffffff;
			}
		}
	}
}
.knowledge-container {
	margin-top: 30px;
}
.owl-prev, .owl-next {
	opacity: .5;
}
.owl-prev:hover, .owl-next:hover {
	opacity: 1;
}