.events {
	width: 100%;
	padding: 23px 0;
	&-item {
		width: 100%;
		max-width: 596px;
		float: left;
		overflow: hidden;
		display: block;
		position: relative;
		color: #ffffff;
		text-decoration: none;
		margin-bottom: 7px;
		&:hover {
			color: #ffffff;
		}
		.mask {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@include transition(.3s);
		}
		&:hover .mask {
			background: rgba(0,0,0, .5);
		}
		img {
			@include transition(.5s);
			
		}
		&:hover img {
			@include scale(1.05);
		}
		p {
			position: absolute;
			width: 100%;
			margin: 0;
			padding: 7px 10px;
			bottom: 0;
			font-family: 'Roboto Slab', serif;
			font-size: 18px;
			line-height: 30px;
			text-transform: uppercase;
			text-align: center;
			background: rgba(0,0,0, .7);
		}
		&:nth-child(2n+1) {
			margin-right: 7px;
		}
	}
}