.subscribe-container {
	width: 100%;
	min-height: 207px;
	@include background-size(cover);
	h3 {
		font-size: 25px;
		color: $golden;
		font-family: 'Roboto Slab', serif;
		text-align: center;
		text-transform: uppercase;
		margin-top: 35px;
		margin-bottom: 7px;
	}
	p {
		font-size: 16px;
		color: #ffffff;
		font-family: 'Roboto Slab', serif;
		text-align: center;
		text-transform: uppercase;
	}
	form {
		margin-top: 14px;
		input {
			width: 100%;
			max-width: 390px;
			height: 52px;
			margin-top: 4px;
			padding: 0 25px;
		}
	}
}
.footer-container {
	background: url("../img/bg/footer.jpg");
	@include background-size(cover);
	.copyright-container {
		background: rgba(27,18,12, .5);
		min-height: 38px;
		& * {
			line-height: 38px;
			font-size: 13px;
		}
		& p, & a {
			color: #ffffff;
			margin-bottom: 0;
		}
		& p a {
			color: $golden;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.footer-nav {
		padding: 18px 0 18px;
		margin: 0;
		.item {
			width: 170px;
			display: inline-block;
			height: 24px;
			a {
				color: $bg_text;
				line-height: 24px;
				&:hover {
					text-decoration: none;
					color: #ffffff;
				}
			}
		}
	}
	.footer-logo {
		margin-top: 42px;
		max-width: 100%;
	}
	.footer-social {
		text-align: center;
		h3 {
			margin-top: 26px;
			margin-bottom: 16px;
			font-size: 16px;
			color: $golden;
			text-transform: uppercase;
		}
		ul {
			padding: 0;
			li {
				display: inline-block;
				width: 54px;
				height: 51px;
				border: $border;
				@include transition(.5s);
				&:hover {
					background: $golden;
				}
				a {
					display: block;
					width: 51px;
					height: 49px;
					@include transition(.5s);
					&.instagram {
						background: url("../img/icons/footer-social/instagram.png") no-repeat;
						&:hover {
							background: url("../img/icons/footer-social/instagram_hover.png") no-repeat;
						}
					}
					&.facebook {
						background: url("../img/icons/footer-social/facebook.png") no-repeat;
						&:hover {
							background: url("../img/icons/footer-social/facebook_hover.png") no-repeat;
						}
					}
					&.youtube {
						background: url("../img/icons/footer-social/youtube.png") no-repeat;
						&:hover {
							background: url("../img/icons/footer-social/youtube_hover.png") no-repeat;
						}
					}
					&.vk {
						background: url("../img/icons/footer-social/vk.png") no-repeat;
						&:hover {
							background: url("../img/icons/footer-social/vk_hover.png") no-repeat;
						}
					}
				}
			}
		}
	}
	.foter-social-margin {
		margin-right: 15px;
	}
	.site-maker p {
		margin-right: 15px;
	}
}