.header-container, .menu-container {
	background: url("../img/bg/footer.jpg");
	color: $bg_text;
}
.city-change {
	height: 51px;
	float: left;
	line-height: 51px;
	padding: 0 22px 0 16px;
	border: $border;
	color: $golden;
	font-size: 13px;
	text-transform: uppercase;
	margin: 25px 0 28px;
	cursor: pointer;
	position: relative;
	&:after {
		content: url("../img/icons/arrow_down.png");
		padding-left: 47px;
	}
	.change-city {
		position: absolute;
		width: 100%;
		background: #ffffff;
		width: 209px;
		bottom: -71px;
		z-index: 10;
		left: -1px;
		padding: 0;
		display: none;
		@include transition(.5s);
		span, a {
			cursor: pointer;
			width: 100%;
			display: block;
			height: 35px;
			line-height: 35px;
			padding: 0 12px;
			font-size: 14px;
			text-transform: none;
			&:hover {
				background: #e1e1e1;
			}
		}
		span {
			color: #2d2119;
		}
		a {
			color: #7b7b7b;
			text-decoration: none;
		}

	}
	&:hover .change-city {
		display: block;
	}
}
.logo {
	margin: 27px 0 28px;
	text-align: center;
	img {
		display: inline-block;
		max-width: 100%;
	}
}
.header-social {
	position: relative;
	border: $border;
	color: $golden;
	float: right;
	margin: 25px 0 28px;
	height: 51px;
	@include clearfix;
	.call-us-popup {
		display: none;
		position: absolute;
		z-index: 10;
		width: 100%;
		height: $call_us_popup_height;
		background: #fff;
		bottom: -10px - $call_us_popup_height;
		&-inner {
			position: relative;
			padding: 29px 25px 15px;
			img {
				cursor: pointer;
			    position: absolute;
			    top: 6px;
			    right: 6px;
			}
			@include box-shadow(0px 0px 3px rgba(0,0,0, .5));
			input {
				width: 100%;
				height: 52px;
				border: 1px solid #c6c6c6;
				margin-bottom: 8px;
				padding: 0 15px;
				color: #000;
			}
		}
	}
	&-links {
		float: left;
		border-right: $border;
		height: 50px;
		span {
			padding: 0 15px;
		}
		ul {
			@include clearfix;
			height: 15px;
			padding: 0 4px;
			margin-top: 18px;
			display: block;
			li {
				display: inline-block;
				a {
					height: 15px;
					display: block;
					margin: 0 5px;
					background-position: 0 0;
					@include transition(.5s);
					&.instagram {
						background: url("../img/icons/instagram.png") no-repeat;
						width: 14px;
					}
					&.youtube {
						background: url("../img/icons/youtube.png") no-repeat;
						width: 11px;
					}
					&.facebook {
						background: url("../img/icons/facebook.png") no-repeat;
						width: 7px;
					}
					&.vk {
						background: url("../img/icons/vk.png") no-repeat;
						width: 11px;
					}
					&:hover {
						background-position: 0 -15px;
					}
				}
			}
		}
	}
	&-phone {
		width: 209px;
		float: left;
		padding: 0 22px;
		height: 50px;
		line-height: 50px;
		font-size: 21px;
		position: relative;
		.call-us {
			@include transition(.5s);
			opacity: 0;
			height: 43px;
			line-height: 43px;
			text-align: center;
			width: 203px;
			background: $golden;
			position: absolute;
			top: 3px;
			left: 3px;
			color: #000;
			cursor: pointer;
			font-weight: 600;
			font-size: 13px;
			text-transform: uppercase;
			& > div {
				position: relative;
				span {
					z-index: 1;
					position: relative;
				}
				&:before {
				    content: '';
				    display: block;
				    position: absolute;
				    top: 0px;
				    left: 0px;
				    z-index: 1;
				    width: 100%;
				    height: 100%;
				    background: #FFB509;
				    visibility: hidden;
				    -webkit-transition: -webkit-transform 1s, visibility 1s, background 1s;
				    -moz-transition: -moz-transform 1s, visibility 1s, background 1s;
				    -ms-transition: -ms-transform 1s, visibility 1s, background 1s;
				    -o-transition: -o-transform 1s, visibility 1s, background 1s;
				    transition: transform 1s, visibility 1s, background 1s;
				    -webkit-transform: scaleY(0);
				    -moz-transform: scaleY(0);
				    -ms-transform: scaleY(0);
				    -o-transform: scaleY(0);
				    transform: scaleY(0);
				}
				&:hover:before {
				    visibility: visible;
				    -webkit-transform: scaleY(1);
				    -moz-transform: scaleY(1);
				    -ms-transform: scaleY(1);
				    -o-transform: scaleY(1);
				    transform: scaleY(1);
				}
			}
		}
		&:hover .call-us {
			opacity: 1;
		}
	}
	
}
span.text-center {
	display: block;
}
.navbar {
	margin-bottom: 0;
}
.menu-container {
	border-top: 1px solid #2a221d;
	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
}
.nav-menu {
	margin-top: -1px;
	height: 49px;
	overflow: hidden;
	ul {
		padding: 0;
		margin: 0;
		float: left;
		width: 965px;
		text-align: justify;
		&:after {
			content: "";
			width: 100%;
			height: 0;
			margin: 0;
			padding: 0;
			display: inline-block;
		}
		li {
			display: inline-block;
			border-top: 1px solid #2a221d;
			@include transition(.5s);
			a {
				display: block;
				color: #ffffff;
				font-size: 13px;
				line-height: 48px;
				height: 48px;
				padding: 0 10px;
				font-family: 'Roboto Slab', serif;
				@include transition(.5s);
			}
			&:hover {
				border-top: $border;
				a {
					text-decoration: none;
					color: $golden;
					background-color: transparent;
				}
			}
		}
	}
	.your-card {
		display: block;
		background: $golden;
		float: right;
		height: 49px;
		line-height: 49px;
		padding: 0 30px;
		border: 1px solid #967733;
		font-size: 13px;
		text-transform: uppercase;
		color: #211a15;
		text-decoration: none;
		font-weight: 600;
		position: relative;
		@include transition(.3s);
		span {
			z-index: 1;
			position: relative;
		}
		&:before {
		    content: '';
		    display: block;
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    z-index: 1;
		    width: 100%;
		    height: 100%;
		    background: #FFB509;
		    visibility: hidden;
		    -webkit-transition: -webkit-transform 1s, visibility 1s, background 1s;
		    -moz-transition: -moz-transform 1s, visibility 1s, background 1s;
		    -ms-transition: -ms-transform 1s, visibility 1s, background 1s;
		    -o-transition: -o-transform 1s, visibility 1s, background 1s;
		    transition: transform 1s, visibility 1s, background 1s;
		    -webkit-transform: scaleY(0);
		    -moz-transform: scaleY(0);
		    -ms-transform: scaleY(0);
		    -o-transform: scaleY(0);
		    transform: scaleY(0);
		}
		&:hover:before {
		    visibility: visible;
		    -webkit-transform: scaleY(1);
		    -moz-transform: scaleY(1);
		    -ms-transform: scaleY(1);
		    -o-transform: scaleY(1);
		    transform: scaleY(1);
		}
	}
}
.nav-menu .flexMenu-viewMore {
	color: $golden;
	a {
		color: $golden;
	}
	&:after {
		content: url("../img/icons/arrow_down.png");
	}
	ul.flexMenu-popup {
		background: #000000;
		z-index: 10;
	}
}