//Header slider
.top-slider {
	background: $bg_color;
	&-container {
		@include clearfix;
		padding: 0;
		margin: 0;
		list-style: none;
		overflow: hidden;
		width: 100%;
	}
	.slide-area {
		float: left;
		width: 25%;
		height: 530px;
		overflow: hidden;
		@include transition(1.5s);
		&-inner {
			width: 720px;
			height: 530px;
			background-position: center;
			&-1 {
				background: url(../img/slider/slide-1.jpg);
			}
			&-2 {
				background: url(../img/slider/slide-1.jpg);
			}
			&-3 {
				background: url(../img/slider/slide-1.jpg);
			}
			&-4 {
				background: url(../img/slider/slide-1.jpg);
			}
		}
		&.hovered {
			width: 720px;
		}
		&.other-slides {
			width: 160px;
		}
	}
	&-left {
		background-repeat: no-repeat !important;
		background-position: top left !important;
	}
	&-right {
		background-repeat: no-repeat !important;
		background-position: top right !important;
	}
}
.our-teachers {
	background-position: top center !important;
}

// Carousell with prophesy
.home-carousel {
	width: 100%;
	margin-bottom: 30px;
	.owl-nav {
		position: relative;
		.owl-prev {
			position: absolute;
			top: -240px;
			left: -20px;
			opacity: .5;
			&:hover {
				opacity: 1;
			}
		}
		.owl-next {
			position: absolute;
			top: -240px;
			right: -20px;
			opacity: .5;
			&:hover {
				opacity: 1;
			}
		}
	}
	.item {
		overflow: hidden;
		a {
			display: block;
			text-decoration: none;
		}
		img {
			width: 100%;
			@include transition(.5s);
		}
		&-name {
			text-align: center;
			display: block;
			height: 55px;
			line-height: 55px;
			font-size: 13px;
			text-transform: uppercase;
			border-bottom: 1px solid #d3d3d3;
			color: #1c1c1c;
			background: #ffffff;	
		}
		&-bg {
			height: 344px;
			@include background-size(cover);
			background-position: top center !important;
			@include transition(1s);
			&-area {
				overflow: hidden;
				position: relative;
				.mask {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: rgba(0,0,0, .0);
					z-index: 2;
					@include transition(1s);
				}
			}
		}
		&:hover .item-bg {
			@include scale(1.05);
		}
		&:hover .mask {
			background: rgba(0,0,0, .25);
		}
	}
}
.home-carousel a:hover .item-name {
	border-bottom: $border;
}
.advantage {
	width: 100% / 6;
	text-align: center;
	display: inline-block;
	margin: 0;
	padding: 0;
	cursor: pointer;
	& img {
		width: 100%;
		opacity: .8;
		@include transition(.7s);
	}
	& p {
		text-align: center;
		font-size: 13px;
		color: #5a5a5a;
		line-height: 18px;
		margin-top: 17px;
	}
	&-area {
		margin-top: 30px;
		text-align: center;
		margin-bottom: 29px;
		font-size: 0;
		}
	&:hover img {
		opacity: 1;
	}
}




// Our teacher container

.teacher-main-container {
	padding-bottom: 52px;
}
.our-teachers {
	width: 25%;
	height: 454px;
	float: left;
	position: relative;
	@include background-size(cover);
	a:hover .mask {
		background: rgba(0,0,0, 0);
	}
	a:hover h3 {
		color: $golden;
	}
	.mask {
		width: 100%;
		height: 100%;
		background: rgba(0,0,0, .2);
		@include transition(.3s);
	}
	&-1 {
		background: url("../img/teachers/1.jpg") no-repeat;
	}
	&-2 {
		background: url("../img/teachers/2.jpg") no-repeat;
	}
	&-3 {
		background: url("../img/teachers/3.jpg") no-repeat;
	}
	&-4 {
		background: url("../img/teachers/4.jpg") no-repeat;
	}
	&-info {
		width: 100%;
		position: absolute;
		bottom: 7px;
		left: 0;
		padding: 0 4px;
		&-inner {
			padding: 3px;
			.teach-info {
				background: url("../img/bg/footer.jpg");
				color: #fff;
			}
		}
	}
}
.teach-info {
	padding: 10px;
	text-align: center;
	& h3 {
		font-size: 13px;
		margin-top: 3px;
		margin-bottom: 3px;
		font-family: 'Roboto Slab', serif;
		text-transform: uppercase;
	}
	& p {
		font-size: 13px;
		font-weight: 300;
		line-height: 20px;
		margin-bottom: 0px;
	}
	img {
		max-width: 100%;
	}
}


// Brand carousel

.brand-carousel {
	padding: 10px 15px;
	&-item {
		width: 240px;
		height: 86px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		opacity: .5;
		@include transition(.3s);
		&:hover {
			opacity: 1;
		}
		& img {
			width: auto !important;
			margin: auto;
		}
	}
	.owl-item {
		width: 240px !important;
	}
}

// Main page bottom text

.main-page-content p {
	font-size: 13px;
	color: #666;
	line-height: 23px;
	margin-bottom: 23px;
}
.main-events-slider {
	margin-top: 30px;
}
.events-slider {
	max-width: 660px;
	margin-bottom: 68px;
	.carousel-caption {
		bottom: 61px;
		height: 40px;
		overflow: hidden;
		padding: 0;
		left: 0;
		right: 0;
		background: rgba(6,3,1, .8);
		@include transition(.5s);
		h3 {
			font-family: 'Roboto Slab', serif;
			font-size: 20px;
			color: #f4f4f4;
			text-transform: uppercase;
			font-weight: 400;
			margin-top: 13px;
			@include transition(.5s);
		}
		p {
			line-height: 19px;
			font-size: 13px;
			color: #c6bfba;
			padding: 0 50px;
		}
	}
	.item:hover .carousel-caption {
		height: 93px;
	}
	.item:hover h3 {
		color: $golden;
	}
	.slider-footer {
		height: 61px;
		background: url("../img/bg/footer.jpg");
		&-date {
			line-height: 16px;
			font-size: 13px;
			color: $golden;
			text-transform: uppercase;
			padding: 23px 60px 0 10px;
		}
		.defaultCountdown {
			color: #ffffff;
			.countdown-section {
				display: block;
				display: inline-block;
				width: 73px;
				text-align: center;
				border-right: 1px solid #18130e;
				.countdown-amount {
					display: block;
					width: 100%;
					font-size: 30px;
					line-height: 32px;
					font-weight: 300;
					margin-top: 10px;
				}
				.countdown-period {
					font-size: 10px;
					line-height: 15px;
					display: block;
					text-transform: uppercase;
				}
			}
		}
	}
	.left .sr-only {
		width: 38px;
    	height: 36px;
    	margin: 190px 0 0 -71px;
    	clip: auto;
	}
	.right .sr-only {
		width: 38px;
    	height: 36px;
    	margin: 190px 0 0 34px;
    	clip: auto;
	}
}
.main-last-news {
	width: 513px;
	&-item {
		display: block;
		width: 100%;
		border: 1px solid #e7e7e7;
		text-decoration: none;
		margin-bottom: 29px;
		h3 {
			color: #3c3c3c;
			font-family: 'Roboto Slab', serif;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 400;
			margin-top: 16px;
			text-decoration: none;
		}
		p {
			line-height: 18px;
			color: #777777;
			font-size: 13px;
			padding-right: 14px;
			margin-bottom: 8px;
		}
		img {
			float: left;
			margin-right: 13px;
			opacity: .8;
			@include transition(.3s);
		}
		&:hover {
			text-decoration: none;
			h3 {
				color: #c69118;
			}
		}
		&:nth-child(3) {
			margin-bottom: 10px;
		}
		&:hover img {
			opacity: 1;
		}
	}
	&-date {
		font-size: 13px;
		color: #b9a788;
	}
	.more-news {
		font-size: 14px;
		text-transform: uppercase;
		color: #c69118;
		font-weight: 700;
		display: block;
		float: left;
		text-decoration: none;
		margin-top: 10px;
		position: relative;
		&:hover {
			text-decoration: none;
		}
		&:hover:before {
		    visibility: visible;
		    -webkit-transform: scaleX(1);
		    -moz-transform: scaleX(1);
		    -ms-transform: scaleX(1);
		    -o-transform: scaleX(1);
		    transform: scaleX(1);
		}
		&:before {
		    content: '';
		    display: block;
		    position: absolute;
		    bottom: 0;
		    left: 0px;
		    z-index: 1;
		    width: 100%;
		    height: 2px;
		    background: #c69118;
		    visibility: hidden;
		    -webkit-transition: -webkit-transform .2s, visibility .2s;
		    -moz-transition: -moz-transform .2s, visibility .2s;
		    -ms-transition: -ms-transform .2s, visibility .2s;
		    -o-transition: -o-transform .2s, visibility .2s;
		    transition: transform .2s, visibility .2s;
		    -webkit-transform: scaleX(0);
		    -moz-transform: scaleX(0);
		    -ms-transform: scaleX(0);
		    -o-transform: scaleX(0);
		    transform: scaleX(0);
		}
	}
}