@media (max-width: 1239px) {
	.events-item {
		width: 49%;
		&:nth-child(2n+1) {
			margin-right: 1%;
		}
	}
	.dance-gallery .video-area {
    	width: 304px;
    }
    .teachers-col {
		display: block;
		.our-teachers {
			width: 32.8%;
			margin: 3px .25%;
		}
	}
	.logo {
		margin: 35px 0 28px;
		text-align: center;
	}
	.nav-menu > ul {
		width: 710px;
		ul {
			width: 200px;
			li {
				display: block;
			}
		}
	}
	.top-slider {
		display: none;
	}
	.top-slider .slide-area.other-slides {
		width: 73.33333333px;
	}
	.events-slider {
		float: none !important;
		margin: 0 auto 30px;
	}
	.main-last-news {
		width: 100%;
		float: none !important;
		margin: 0 auto 60px; 
	}
	.footer-nav, .foter-social-margin {
		float: none !important;
		margin: auto !important;

	}
	.footer-nav li {
		text-align: center;
	}
	.footer-container .footer-nav {
		_width: 695px;
	}



	.calendar {
		display: block;
		&-row {
			display: block;
			&-col {
				width: 125px;
				&:first-child {
					width: 63px;
				}
			}
		}
	}
	.dance-gallery img {
    	width: 231px;
    	height: 144px;
	}
	.dance-gallery iframe {
		width: 300px;
		height: auto;
	}
	.filter-content-single-mid {
		max-width: 410px;
		padding-right: 10px;
	}
	.filter-content-single-right {
		height: 184px;
	}
}



@media (max-width: 992px) {
	.events-item {
		width: 49.5%;
		&:nth-child(2n+1) {
			margin-right: 1%;
		}
	}
	.dance-gallery .video-area {
    	width: 100%;
    	max-width: 360px;
    	margin: auto;
    	float: none;
    }
    .special-img {
    	float: none;
    	margin: 20px auto;
    	display: block;
    }
    .special-h2 {
    	text-align: center;
    }
    .half-width {
    	width: 100%;
    }
    .teachers-col {
		display: block;
		.our-teachers {
			width: 49.5%;
			margin: 3px .25%;
		}
	}
	.knowledge-item {
		width: 100%;
		border-top: 1px solid #d5d5d5;
		border-right: 0px solid transparent;
		&:nth-child(1) {
			border-top: 0px solid transparent;
		}
	}
	.knowledge-container {
		padding: 0 15px;
	}
	.our-teachers {
		display: inline-block;
		max-width: 295px !important;
		width: 100% !important;
		float: none !important;
	}
	.nav-menu ul {
		width: 200px;
	}
	.logo {
	    margin: 15px 0 28px;
	    text-align: center;
	}
	.copyright-container {
		text-align: center;
		& * {
			line-height: 25px !important;
		}
		p {
			float: none !important;
		}
	}
	.news-preview span {
		display: none;
	}


	.calendar {
		display: block;
		&-row {
			display: block;
			&-col {
				width: 95px;
				&:first-child {
					width: 53px;
				}
			}
		}
	}
	.more-fn {
		display: none;
	}
	.gallery-slider-img {
    	display: none;
	}
	.dance-gallery iframe {
		width: 100%;
		height: 300px;
	}
	.filter-content-single-right {
		width: 100%;
		border-left: 0px;
	}
	
}

@media (max-width: 768px) {
	.events-item {
		width: 100%;
		margin: auto;
		margin-bottom: 7px;
		float: none;
		&:nth-child(2n+1) {
			margin-right: auto;
		}
	}
	.submenu .navbar-nav > li {
		display: block;
		max-width: 50%;
		margin: auto;
	}
	.main-h1 {
		font-size: 30px;
	}
	.way-item {
		width: 100%;
		max-width: 600px;
		margin: auto;
		float: none;
	}
	.header-logo-lg {
		width: 100%;
		@include clearfix;
	}
	.home-carousel {
		width: 600px;
		margin: auto;
	}
	.footer-container .footer-nav {
		width: 525px;
	}
	.subscribe-container {
		form div {
			text-align: center;
		}
	 	input {
			float: none !important;
			margin-bottom: 10px;
			max-width: 100% !important;
		}
	}
	.events-page-item {
		width: 50%;
	}
	.partners-container-item {
		width: 100%;
	}
	.calendar {
		display: none;
	}
	.calendar-sm {
		display: block;
	}
	.calendar-button {
		float: none !important;
	}
	.popup-button-margin {
	    width: 100%;
	    text-align: center;
	    display: block;
	}
	.img-card {
		float: none !important;
		text-align: center;
		width: 100% !important;
		img {
			margin: auto;
			width: 270px !important;
		}
	}
	.filter-content-single-mid {
		width: 100%;
		float: none !important;
		max-width: 100% !important;
		text-align: center;
	}
	.dance-gallery a {
		display: inline-block;
	}
}

@media (max-width: 666px) {
	.defaultCountdown {
		display: none;
	}
	.slider-footer-date {
		float: none !important;
		text-align: center;
		padding: 23px 10px 0 10px !important;
	}
	.news-preview {
		padding-left: 20px;
		img {
			display: none;
		}
	}
}

@media (max-width: 639px) {
	.teacher-carousel .teacher-carousel-item {
		margin: auto;
	}
	.teachers-col {
		display: block;
		.our-teachers {
			width: 99.5%;
			max-width: 300px;
			float: none;
			margin: 3px auto;
		}
	}
}

@media (max-width: 600px) {
	.header-column {
		width: 100%;
		@include clearfix;
	}
	.header-logo-lg {
		display: none;
	}
	.city-change {
		float: none;
		margin: 10px auto;
		max-width: 215px;
	}
	.header-social {
		float: none;
		margin: 10px auto;
		max-width: 315px;
	}
	.footer-container .footer-nav {
		width: 350px;
	}
	.home-carousel {
		width: 300px;
		margin: auto;
	}
}

@media (max-width: 540px) {
	.events-page-item {
		width: 100%;
	}
}

@media (max-width: 460px) {
	ul.menu.flex {
		width: 100%;
		float: none;
	}
	.nav-menu .your-card {
		width: 205px;
		float: none;
		margin: auto;
		@include clearfix;
	}
}

@media (max-width: 440px) {
	a.events-item img {
    	margin-left: -50%;
	}
	.main-h1 {
		font-size: 25px;
	}
	.main-h1.way-dance-h1 {
    	font-size: 20px;
	}
	.footer-container .footer-nav {
		width: 175px;
	}
	.slider-footer-date {
		font-size: 11px;
	}
}
@media (max-width: 370px) {
	.header-social {
		width: 211px;
	}
	.header-social-links {
		display: none;
	}
}

@media (max-width: 340px) {
	.home-carousel {
		width: 240px;
		margin: auto;
	}
}